<template>
  <header class="navbar">
    <section class="navbar-section">
      <a href="#" class="navbar-brand mr-2">Basic wallet</a>
      <button
        class="btn btn-primary"
        v-on:click="openTransactionDialog"
        v-bind:disabled="!canCreateTransaction"
      >
        {{ canCreateTransaction ? 'Create transaction' : 'Insert private key to create transaction' }}
      </button>
    </section>
    <section class="navbar-center">
      <div v-show="!balanceString && address" class="loading"></div>
      <span
        class="tooltip tooltip-bottom"
        v-bind:data-tooltip="address"
        v-show="balanceString"
      >
        {{ balanceString }}
      </span>
    </section>
    <section class="navbar-section">
      <private-key v-on:keyPairChanged="onNewKeyPair"/>
    </section>
  </header>
</template>

<script>
  import { numberFormatter } from '../formatters';
  import PrivateKey from './PrivateKey';

  export default {
    name: 'app-header',
    components: {
      PrivateKey,
    },
    props: ['balance', 'canCreateTransaction', 'address'],
    methods: {
      openTransactionDialog() {
        this.$emit('openTransactionDialog');
      },
      onNewKeyPair(keyPair) {
        this.$emit('keyPairChanged', keyPair);
      },
    },
    computed: {
      balanceString() {
        if (this.balance === null) {
          return '';
        }
        return `${numberFormatter.format(this.balance)} XEM`;
      },
    },
  };
</script>

<style scoped>
  header {
    margin-top: .4rem;
  }
</style>
