<template>
  <div>
    <button
      class="btn"
      v-show="!editing"
      v-on:click="toggleEditing"
    >
      Change private key
    </button>
    <div class="input-group input-inline" v-show="editing">
      <input
        autofocus
        id="privateKey"
        type="text"
        placeholder="Private key"
        class="form-input"
        v-model="privateKey"
        v-bind:class="{ 'is-error': !isPrivateKeyValid }"
        v-on:input="changePrivateKey"
      />
      <button class="btn input-group-btn" v-on:click="toggleEditing">
        Cancel
      </button>
    </div>
  </div>
</template>

<script>
  import nem from 'nem-sdk';

  export default {
    name: 'private-key',
    data() {
      return {
        privateKey: '',
        editing: true,
      };
    },
    methods: {
      toggleEditing() {
        this.editing = !this.editing;
        if (this.editing) {
          setTimeout(() => document.getElementById('privateKey').focus());
        }
      },
      changePrivateKey() {
        if (!this.isPrivateKeyValid) {
          return;
        }
        const keyPair = nem.crypto.keyPair.create(this.privateKey);
        this.$emit('keyPairChanged', keyPair);
        this.editing = false;
      },
    },
    computed: {
      isPrivateKeyValid() {
        return nem.utils.helpers.isPrivateKeyValid(this.privateKey);
      },
    },
  };
</script>

<style scoped>

</style>
