<template>
  <div>
    <div class="h3">{{ title }}</div>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Amount</th>
        <th>Date</th>
        <th>Message</th>
        <th>Address</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="transaction in transactionsLimited">
        <td v-bind:class="[isIncome(transaction.recipient) ? 'text-success' : 'text-error']">
          <div
            class="truncate"
            v-bind:title="formatAmount(transaction.amount, transaction.recipient)"
          >
            {{ formatAmount(transaction.amount, transaction.recipient) }}
          </div>
        </td>
        <td>
          <div
            class="truncate"
            v-bind:title="formatTimeStamp(transaction.timeStamp)"
          >
            {{ formatTimeStamp(transaction.timeStamp) }}
          </div>
        </td>
        <td>
          <div
            class="truncate"
            v-bind:title="formatMessage(transaction.message)"
          >
            {{ formatMessage(transaction.message) }}
          </div>
        </td>
        <td>
          <div
            class="truncate"
            v-bind:title="transaction.recipient"
          >
            {{ transaction.recipient }}
          </div>
        </td>
      </tr>
      <tr v-show="!transactions.length">
        <td colspan="4">
          <div class="loading loading-lg"></div>
        </td>
      </tr>
      <tr v-show="displayExpanderButton">
        <td colspan="4">
          <button class="btn centered" v-on:click="toggleDisplayAll">
            <span v-show="!displayAllTransactions">
                <i class="icon icon-arrow-down"></i>
                {{ remainingTransactions }} transactions
            </span>
            <span v-show="displayAllTransactions">
              <i class="icon icon-arrow-up"></i>
              First {{ displayedTransactions }} transactions
            </span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import nem from 'nem-sdk';

  import { isIncome, formatAmountRaw, timeStampToDate } from '../transaction-helper';
  import { dateTimeFormatter } from '../formatters';

  export default {
    name: 'transactions',
    props: ['transactions', 'title', 'address'],
    data() {
      return {
        displayAllTransactions: false,
        displayedTransactions: 5,
      };
    },
    computed: {
      transactionsLimited() {
        return this.displayAllTransactions
          ? this.transactions
          : this.transactions.slice(0, this.displayedTransactions);
      },
      remainingTransactions() {
        return this.transactions.length - this.displayedTransactions;
      },
      displayExpanderButton() {
        return this.remainingTransactions > 0;
      },
    },
    methods: {
      isIncome(recipient) {
        return isIncome(this.address, recipient);
      },
      formatAmount(amount, recipient) {
        const sign = isIncome(this.address, recipient) ? '+' : '-';
        return `${sign} ${formatAmountRaw(amount)} XEM`;
      },
      formatTimeStamp(timeStamp) {
        return dateTimeFormatter.format(timeStampToDate(timeStamp));
      },
      formatMessage(message) {
        return nem.utils.format.hexMessage(message);
      },
      toggleDisplayAll() {
        this.displayAllTransactions = !this.displayAllTransactions;
      },
    },
  };
</script>

<style scoped>
  .truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
</style>
