<template>
  <div
    class="modal"
    v-bind:class="{ active: open }"
  >
    <a
      href="#"
      class="modal-overlay"
      v-on:click="close"
    ></a>
    <div class="modal-container">
      <div class="modal-header">
        <button
          class="btn btn-clear float-right"
          title="Close"
          v-on:click="close"
        ></button>
        <div class="modal-title h5">Create new transaction</div>
      </div>
      <div class="modal-body">
        <div class="content" v-show="!isReady">
          <div class="loading loading-lg"></div>
        </div>
        <div class="content" v-show="isReady">
          <form
            class="form-horizontal"
            v-on:submit="onFormSubmit"
            v-on:input="onFormInput"
          >
            <fieldset v-bind:disabled="submitting">
              <div class="form-group">
                <div class="col-3">
                  <label for="address" class="form-label">From address</label>
                </div>
                <div class="col-9">
                  <div id="address" class="form-text">{{ address }}</div>
                </div>
              </div>
              <!--Recipient-->
              <div class="form-group" v-bind:class="{ 'has-error': !isRecipientValid }">
                <div class="col-3">
                  <label for="recipient" class="form-label">Recipient</label>
                </div>
                <div class="col-9">
                  <input
                    autofocus
                    type="text"
                    class="form-input"
                    id="recipient"
                    placeholder="Recipient address"
                    name="recipient"
                    v-model="transactionForm.recipient"
                  />
                </div>
              </div>
              <!--Amount-->
              <div class="form-group" v-bind:class="{ 'has-error': !isAmountValid }">
                <div class="col-3">
                  <label for="amount" class="form-label">Amount</label>
                </div>
                <div class="col-9">
                  <div class="input-group">
                    <button
                      class="btn input-group-btn"
                      type="button"
                      v-on:click="setMaxAmount"
                    >
                      Max: {{ maxAmountFormatted }}
                    </button>
                    <input
                      type="text"
                      class="form-input"
                      id="amount"
                      placeholder="Amount"
                      name="amount"
                      v-model="transactionForm.amount"
                    />
                    <span class="input-group-addon">XEM</span>
                  </div>
                </div>
              </div>
              <!--Message-->
              <div class="form-group">
                <div class="col-3">
                  <label for="message" class="form-label">Message</label>
                </div>
                <div class="col-9">
                  <input
                    type="text"
                    class="form-input"
                    id="message"
                    placeholder="Message"
                    name="message"
                    v-model="transactionForm.message"
                  />
                </div>
              </div>
              <!--Fee-->
              <div class="form-group">
                <div class="col-3">
                  <label for="fee" class="form-label">Fee</label>
                </div>
                <div class="col-9">
                  <span id="fee" class="form-text">{{ transactionForm.fee }}</span>
                  <span class="form-text float-right">XEM</span>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal-footer" v-show="isReady">
        <button class="btn" v-on:click="cancel">Cancel</button>
        <button
          class="btn btn-primary"
          v-bind:disabled="submitting || !isValid"
          v-on:click="onFormSubmit"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import nem from 'nem-sdk';
  import { formatAmount } from '../transaction-helper';

  export default {
    name: 'transaction-dialog',
    props: ['open', 'address', 'balance', 'endpoint', 'privateKey'],
    data() {
      return {
        showPrivateKey: false,
        maxMessageLength: 1024,
        transactionForm: {
          amount: 0,
          recipient: '',
          message: '',
          fee: 0.05,
        },
        validations: {
          amount: true,
          recipient: true,
        },
        transactionEntity: null,
        common: null,
        submitting: false,
      };
    },
    methods: {
      close() {
        this.$emit('closeTransactionDialog');
      },
      clear() {
        this.transactionForm.amount = 0;
        this.transactionForm.recipient = '';
        this.transactionForm.message = '';
        this.transactionForm.fee = 0.05;
      },
      cancel() {
        this.clear();
        this.close();
      },
      togglePrivateKey() {
        this.showPrivateKey = !this.showPrivateKey;
      },
      setMaxAmount() {
        this.transactionForm.amount = this.maxAmount;
        this.onFormInput({ target: { name: 'amount' } });
      },
      async onFormSubmit(event) {
        event.preventDefault();
        this.submitting = true;
        await nem.model.transactions.send(this.common, this.transactionEntity, this.endpoint);
        this.submitting = false;
        this.clear();
        this.close();
      },
      onFormInput(event) {
        try {
          const { recipient, message } = this.transactionForm;
          this.common = nem.model.objects.create('common')('', this.privateKey);
          const transferTransaction = nem.model.objects.create('transferTransaction')(
            recipient, this.amountFloat, message,
          );
          this.transactionEntity = nem.model.transactions.prepare('transferTransaction')(
            this.common, transferTransaction, nem.model.network.data.testnet.id,
          );
          this.transactionForm.fee = this.transactionEntity.fee / 1000000;
        } catch (error) {
          console.error(error);
        }
      },
    },
    computed: {
      maxAmount() {
        return this.balance - this.transactionForm.fee;
      },
      maxAmountFormatted() {
        return formatAmount(this.maxAmount);
      },
      amountFloat() {
        return Number.parseFloat(this.transactionForm.amount);
      },
      isReady() {
        return this.balance !== null && this.address;
      },
      isValid() {
        return this.validations.amount && this.validations.recipient;
      },
      isAmountValid() {
        return !Number.isNaN(this.amountFloat)
          && this.amountFloat <= this.maxAmount
          && this.amountFloat > 0;
      },
      isRecipientValid() {
        return nem.model.address.isValid(this.transactionForm.recipient);
      },
    },
  };
</script>

<style scoped>
  #fee {
    display: inline-block;
  }
</style>
