<template>
  <div id="app" class="container">
    <app-header
      v-bind:balance="accountBalance"
      v-bind:can-create-transaction="privateKey"
      v-bind:address="address"
      v-on:openTransactionDialog="toggleTransactionDialog"
      v-on:keyPairChanged="onNewKeyPair"
    />
    <transactions
      v-bind:transactions="transactions.unconfirmed"
      v-bind:address="address"
      v-show="transactions.unconfirmed.length"
      title="Unconfirmed"
    />
    <transactions
      v-bind:transactions="transactions.confirmed"
      v-bind:address="address"
      v-show="address"
      title="Confirmed"
    />
    <transaction-dialog
      v-bind:private-key="privateKey"
      v-bind:open="isTransactionDialogOpen"
      v-bind:address="address"
      v-bind:balance="accountBalance"
      v-bind:endpoint="endpoint"
      v-on:closeTransactionDialog="toggleTransactionDialog"
    />
    <div
      class="empty private-key-prompt"
      v-show="!address && !privateKey"
    >
      <p class="empty-title h5">Insert your private key to continue</p>
    </div>
  </div>
</template>

<script>
  import nem from 'nem-sdk';

  import { isIncome, formatAmountRaw } from './transaction-helper';
  import AppHeader from './components/AppHeader';
  import Transactions from './components/Transactions';
  import TransactionDialog from './components/TransactionDialog';

  export default {
    name: 'app',
    components: {
      AppHeader,
      Transactions,
      TransactionDialog,
    },
    data() {
      return {
        address: '',
        addressKey: 'address',
        connector: null,
        endpoint: {
          protocol: 'http',
          host: 'https://adamexperimental.cyberblox.my',
          port: 7891,
          websocketPort: 7779,
        },
        account: null,
        transactions: {
          confirmed: [],
          unconfirmed: [],
        },
        notificationsEnabled: false,
        isTransactionDialogOpen: false,
        privateKey: '',
      };
    },
    created() {
      this.address = window.localStorage.getItem(this.addressKey) || '';
      if (this.address) {
        this.loadAddressInfo();
        this.initializeNotifications();
      }
    },
    computed: {
      accountBalance() {
        return this.account ? (this.account.balance / 1000000) : null;
      },
    },
    methods: {
      async initializeConnector() {
        if (this.connector) {
          this.connector.close();
          this.connector = null;
        }
        const endpoint = nem.model.objects.create('endpoint')(this.endpoint.host, this.endpoint.websocketPort);
        this.connector = await nem.com.websockets.connector.create(endpoint, this.address);
        await this.connector.connect();
      },
      onNewKeyPair({ publicKey, secretKey }) {
        this.privateKey = nem.utils.convert.ua2hex(secretKey.reverse());
        this.address = nem.model.address.toAddress(
          nem.utils.convert.ua2hex(publicKey.data), nem.model.network.data.testnet.id,
        );
        window.localStorage.setItem(this.addressKey, this.address);
        this.loadAddressInfo();
      },
      async watchAddress() {
        try {
          await this.initializeConnector();
          this.subscribeAccountData();
          this.subscribeTransactions();
        } catch (error) {
          console.error(error);
        }
      },
      async fetchTransactions() {
        const allTransactionsPromise = nem.com.requests.account.transactions.all(
          this.endpoint, this.address,
        );
        const unconfirmedTransactionsPromise = nem.com.requests.account.transactions.unconfirmed(
          this.endpoint, this.address,
        );
        const [{ data: allTransactions }, { data: unconfirmedTransactions }] = await Promise.all([
          allTransactionsPromise, unconfirmedTransactionsPromise,
        ]);
        this.transactions.unconfirmed = unconfirmedTransactions
          .map(this.getTransaction)
          .sort(this.sortTransactions);
        this.transactions.confirmed = allTransactions
          .map(this.getTransaction)
          // Remove unconfirmed transactions from all transactions list
          .filter((confirmedTransaction) => {
            return !this.transactions.unconfirmed.find((unconfirmedTransaction) => {
              return unconfirmedTransaction.signature === confirmedTransaction.signature;
            });
          })
          .sort(this.sortTransactions);
      },
      subscribeAccountData() {
        nem.com.websockets.subscribe.account.data(this.connector, ({ account }) => {
          this.account = account;
        });
        nem.com.websockets.requests.account.data(this.connector);
      },
      subscribeTransactions() {
        nem.com.websockets.subscribe.account.transactions.unconfirmed(this.connector, (res) => {
          const { transaction } = res;
          // Add transaction to unconfirmed transactions
          this.transactions.unconfirmed = this.transactions.unconfirmed
            .concat(transaction)
            .sort(this.sortTransactions);
          this.spawnTransactionNotification('Unconfirmed transaction', transaction);
        });
        nem.com.websockets.subscribe.account.transactions.confirmed(this.connector, (res) => {
          const { transaction } = res;
          // Remove confirmed transactions from the uncofirmed transactions list
          this.transactions.unconfirmed = this.transactions.unconfirmed.filter(
            unconfirmedTransaction => transaction.signature !== unconfirmedTransaction.signature,
          );
          this.transactions.confirmed = this.transactions.confirmed
            .concat(transaction)
            .sort(this.sortTransactions);
          this.spawnTransactionNotification('Confirmed transaction', transaction);
        });
      },
      loadAddressInfo() {
        this.watchAddress();
        this.fetchTransactions();
      },
      sortTransactions(a, b) {
        return a.timeStamp < b.timeStamp ? 1 : -1;
      },
      getTransaction({ transaction }) {
        return transaction;
      },
      async initializeNotifications() {
        if ('Notification' in window) {
          if (Notification.permission === 'granted') {
            this.notificationsEnabled = true;
            return;
          }
          const result = await Notification.requestPermission();
          if (['default', 'denied'].includes(result)) {
            console.warn('Notifications not enabled');
            return;
          }
          this.notificationsEnabled = true;
          this.spawnNotification('Notifications enabled', 'You will be notified about incoming transactions');
        }
      },
      spawnTransactionNotification(title, { amount, recipient }) {
        const sign = isIncome(this.address, recipient) ? '+' : '-';
        const notificationBody = `${sign} ${formatAmountRaw(amount)} XEM`;
        this.spawnNotification(title, notificationBody);
      },
      spawnNotification(title, body) {
        if (!this.notificationsEnabled) {
          console.warn('denied');
          return;
        }
        const notification = new Notification(title, { body });
        window.setTimeout(notification.close.bind(notification), 5000);
      },
      toggleTransactionDialog() {
        this.isTransactionDialogOpen = !this.isTransactionDialogOpen;
      },
    },
  };
</script>

<style>
  .form-input {
    padding: .25rem .4rem;
  }
  .form-text {
    margin: .2rem 0;
    min-height: 1.2rem;
    padding: .2rem .4rem;
  }
  .private-key-prompt {
    margin-top: .4rem;
  }
</style>
